.seniorMarker {
    background-color: #f9f9f9;
    border-radius: 20px;
    border: 1.5px solid var(--color-gray-7);
    width: 60px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: none; */
    /* box-shadow: 0 2px 10px var(--color-gray-6); */
}

.seniorMarker.green {
    background-color: rgb(29, 255, 29);
}

.seniorMarker.yellow {
    background-color: rgb(251, 255, 13);
}

.seniorMarker.red {
    background-color: rgb(129, 0, 0);
    color: white;
}

.userMarker {
    background-color: #4a80f5;
    width: 14px;
    height: 14px;
    border: 2px solid white;
    border-radius: 20px;
}